{
    "myprivaterepo/privateimage:latest": {
        "username": "foo",
        "password": "bar",
        "insecure": "false",
        "nonSsl": "false"
    },
    "myprivaterepo": {
        "registryToken": "asdfasdf-asdfasdf-asdfasdf-asdfasdf",
        "insecure": "false",
        "nonSsl": "false"
    }
}
